.container {
  background: url('../../assets/images/background.png') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
      width: 20%;
      min-width: 250px;
    }
  }
  .btnGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
