.container {
  background: url('../../assets/images/background.jpg') no-repeat center;
  background-size: cover;
  padding: 4.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    -webkit-app-region: drag;
    cursor: move;
  }
  .main {
    width: 42rem;
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .form {
      width: 50%;
      min-width: 22rem;
    }
  }
  .btnGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
