.container {
  padding: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    // 滚动条整体样式
    width: 4px; // 滚动条的尺寸
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    // 滚动条里的小方块
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #166EEB;
    -moz-box-shadow: inset 0 0 3px #166EEB;
    box-shadow: inset 0 0 3px #166EEB;
  }

  &::-webkit-scrollbar-track {
    // 滑道
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
  }

  .float_btn {
    position: fixed;
    left: 30px;
    bottom: 30px;
    cursor: pointer;
  }
}
