.container {
  background: url('../../assets/images/background.png') no-repeat center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  .info_bar {
    margin-right: 20px;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;

    &_item {
      margin-right: 30px;
    }
  }

  .menu_btn {
    -webkit-app-region: no-drag !important;
    margin: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: burlywood;
  }

  .spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 120px;

      &_item {
        display: inline-block;
        background: #000;
        border-radius: 5px;
        width: 120px;
        height: 120px;
        position: relative;
        cursor: pointer;

        &:first-child {
          margin-left: 8px;
        }

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }

    &_main {
      flex: 1;
      display: flex;
      margin-top: 8px;

      &_left {
        flex: 1;
        border-radius: 5px;
        background: #FFF;

        &_video {
          background: #000;
          cursor: pointer;
          height: 100%;
          width: 100%;
          border-radius: 5px;
        }
      }

      &_right {
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        width: 300px;

        .video {
          border-radius: 10px;
          background: #000;
          width: 240px;
          height: 180px;
          position: relative;
        }

        .im {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-top: 8px;
          border-radius: 8px 8px 0 0;
          background: #FFF;

          &_list {
            flex: 1
          }
        }

        .members {
          flex: 1;
          display: flex;
          flex-direction: row;
          background: #FFF;
          border-radius: 8px 8px 0 0;
        }
      }
    }
  }
}
