.container {
  background: url('../../assets/images/background.jpg') no-repeat center;
  background-size: cover;
  padding-top: 3.0rem;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.0rem;
    overflow: hidden;
    -webkit-app-region: drag;
    cursor: move;
    .menu_btn {
      -webkit-app-region: no-drag !important;
      margin: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: burlywood;
    }
  }
  .main {
    display: grid;
    height: auto;
    padding: 1rem;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10% 90%;
    grid-gap: 1rem;
    height: 85%;
    .remote {
      grid-column: 1 / 3;
      background: #FFF;
      border-radius: 1rem;
    }
    .workspace {
      grid-row: 2 / 4;
      background: #FFF;
      border-radius: 1rem;
    }
    .local {
      background: #FFF;
      border-radius: 1rem;
    }
    .im {
      background: #FFF;
      border-radius: 1rem;
    }
  }
}
