
.container {
  position: relative;
  overflow: hidden;

  .canvas {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .status_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #CCC;
    display: flex;
    align-items: center;
    .name {
      flex: 1;
      margin-left: 8px;
    }

    .op_icon {
      cursor: pointer;
      margin-right: 12px;
    }
  }
}
