.container {
  display: flex;
  flex: 1;
  position: relative;

  .whiteboard {
    display: flex;
    flex: 1;
  }

  .docker {
    position: absolute;
    z-index: 999;
    top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .scaler {
    position: absolute;
    z-index: 999;
    left: 10px;
    bottom: 10px;
  }

  .side_panel {
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .shortcut_hover {
    position: absolute;
    z-index: 999;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
  }
}
