  .btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -webkit-app-region: drag;
    cursor: move;
    .btn {
      -webkit-app-region: no-drag !important;
      margin: 5px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: burlywood;
    }
  }
