.btn-group {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  .btn {
    -webkit-app-region: no-drag!important;
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
