.container {
  display: flex;
  flex: 1;
  position: relative;

  .video {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    // background: #604B92;
  }

  .switch_wrap {
    position: absolute;
    z-index: 999;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: 'red';
  }

}
