.container {
  background: url('../../assets/images/background.png') no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .form {
      width: 20%;
      min-width: 250px;
    }
    .help {
      margin-bottom: 1rem;
      color: green;
      text-align: right;
      cursor: pointer;
    }
  }
}
